<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jinjia2</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <!--<script src="{{ url_for('static', filename='bootstrap/js/.bootstrapjs')}}"></script>-->
    <script src="{{ url_for('static', filename='jquery/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='myscript.js')}}"></script>
</head>
<body>
    <div class="page">
        <h1>jinjia2</h1>
        <div class="metanav">
            {% if not session.logged_in %}
                <a href="{{ url_for('article.login')}}">log in</a>
            {% else %}
                <a href="{{ url_for('article.logout') }}">log out</a>
            {% endif %}
        </div>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block body %}{% endblock %}
        <div class="data">
            <button id="data" type="button" class="btn btn-default">展开/收缩</button>
        </div>
    </div>

</body>
</html>